# Application
APP_PORT=8000
APP_SSL_PORT=8443
VITE_PORT=5173

# Database
DB_PORT=33061
DB_DATABASE=organisasi_manajemen
DB_USERNAME=organisasi_user
DB_PASSWORD=organisasi_pass
DB_ROOT_PASSWORD=root_password

# Redis
REDIS_PORT=6380

# PHPMyAdmin
PMA_PORT=8081
